﻿@using Database
@model IEnumerable<Task>

<br />
<div class="row">
    <div class="col-4">
        <input type="text" name="searchbox" value="" class="form-control" />
    </div>
    <div class="col-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Name ASC</a>
                <a class="dropdown-item" href="#">Name DESC</a>
                <a class="dropdown-item" href="#">Date ASC</a>
                <a class="dropdown-item" href="#">Date DESC</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <button class="btn btn-default">
            Add
        </button>
    </div>
</div>

<div class="row">
    <div class="col-4">
        @Html.React("SelectionPriority", new { test = 1 })
        @Scripts.Render("~/bundles/main")
        @Html.ReactInitJavaScript()
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
</div>
