﻿$acolor: white;

.navigation {
    &__main {
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        & li {
            color: $acolor;
            padding: 15px;

            & a {
                color: $acolor;
            }
        }
    }

    &__left {
        /*width: 100%;*/
        display: flex;
        list-style-type: none;

       
    }

    &__right {
        display: flex;
        list-style-type: none;
    }
}
