﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">ASP.NET MVC Sample</h1>
    <hr className="my-4" />
    <p class="lead">
        This is an example of ReactJS.NET's server-side rendering. The initial state of this
        comments box is rendered server-side, and additional data is loaded via AJAX and rendered
        client-side.
    </p>
    <!-- Render the component server-side, passing initial props -->
    @Html.React("Home", new { description = ViewBag.Name ?? "The description" })
    <!-- Load all required scripts (React + the site's scripts) -->
    @Scripts.Render("~/bundles/main")
    <!-- Render the code to initialise the component -->
    @Html.ReactInitJavaScript()
</div>